{% extends 'base.html' %}
{% block title %}Правила тестирования{% endblock title %}
{% block content %}
  <div class="container">
  	<div class="contentField">
  	  <div class="pageName"><h2>{{ quiz.quiz_title }}: правила онлайн-тестирования</h2></div>
  	  <p>Нажимая кнопку "Начать онлайн-тестирование" вы обязуетесь:</p> 
  	  <ul>
  	  	<li>отвечать на вопросы самостоятельно, без посторонней помощи, не обращаясь во время тестирования к справочным материалам;</li>
  	  	<li>не публиковать на сайте и сторонних ресурсах правильные ответы на вопросы теста;</li>
  	  	<li>при обнаружении неточности, не указывать на нее в комментариях (это будет рассматриваться как подсказка, и такие комментарии будут удаляться), а сообщить администрации сайта на форме обратной связи.</li>
  	  </ul>
  	  <p>Желаем вам удачи и азарта при прохождении онлайн-тестирования</p>
  	  <a href="{% url 'step_of_quiz' pk=quiz.quiz_url step=1 %}"><button class="btn btn-default">Начать онлайн-тестирование</button></a>
  	</div>
  </div>
{% endblock content %}