{% block navbar %}
{% load static %}

{% url 'main_page' as home %}
{% url 'your_own_game' as yogame %}
{% url 'interactive_crossword' as icross %}
{% url 'phone_payments' as ppay %}
{% url 'dinnerware_accounting' as dwaccount %}
{% url 'world_war_ii' as wwii %}
{% url 'vacation_schedule' as vacations %}
{% url 'contacts' as contacts %}
{% url 'achievements' as achievements %}
{% url 'articles_list' as articles %}

{% url 'exit_view' as exit %}
{% url 'login_view' as login %}
{% url 'logout_view' as logout %}
{% url 'register_view' as register %}
{% url 'profile_view' as profile %}

<div class="container">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ home }}"><img alt="Главная страница" src='{% static "images/Home.png" %}'></a>
    </div>

    <!-- Collect toggling elements-->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Программы<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{ yogame }}">Викторина "Своя игра" на английском языке</a></li>
            <li><a href="{{ icross }}">Интерактивный кроссворд на английском языке</a></li>
            <li><a href="{{ ppay }}">Учет платежей за услуги мобильной связи</a></li>
            <li><a href="{{ dwaccount }}">Учет посуды в ресторане "Спасательный круг"</a></li>
            <li><a href="{{ wwii }}">Викторина "Своя игра" на тему "История второй мировой войны"</a></li>
            <li><a href="{{ vacations }}">Формирование и ведение графика отпусков сотрудников "Колэнерго"</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="{{ articles }}">Новости сайта</a></li>
        <li><a href="{{ achievements }}">Достижения</a></li>
        <li><a href="{{ contacts }}">Контакты</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if user.is_active %}{{ user.username }}{% else %}Авторизация/Регистрация{% endif %}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            {% if user.is_active %}
              <li><a href="{{ profile }}">Профиль</a></li>
              <li><a href="{{ exit }}">Выход</a></li>
            {% else %}
              <li><a href="{{ login }}">Авторизация</a></li>
              <li><a href="{{ register }}">Регистрация</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
</div><!-- /.outer container -->
{% endblock %}