{% extends 'base.html' %}
{% block title %}Смена пароля{% endblock %}
{% block content %}
{% url 'profile_view' as profile %}
  <div class="container">
	<div class="contentField">
	  <div class="pageName"><h2>Смена пароля</h2></div>
	  <div class="formField">
	  	<form>
	  	  {% csrf_token %}
	  	  {{ form.as_p }}
	  	  <input type="submit" class="btn btn-danger" value="Изменить пароль"/>
	  	</form>			
	  </div>
	  <div style="margin-top: 20px; text-align: center;">
	  	<a href="{{ profile }}"><button class="btn btn-default">Отмена</button></a>
	  </div>
	</div>
  </div>
{% endblock %}