{% block programm_relations %}
	<div class="votingDiv">
		{% if request.user.is_active %}			
			{% if user_choise == 0 %}
 			<button class="btn btn-default btn-lg" onclick="ILikeIt()"><b>ОЦЕНИТЬ ПОЛОЖИТЕЛЬНО</b></button>
			<a role="button" class="votingResultPositive">({{ positiveMarks }})</a>
			<button class="btn btn-default btn-lg" onclick="IHateIt()"><b>ОЦЕНИТЬ ОТРИЦАТЕЛЬНО</b></button>
			<a role="button" class="votingResultNegative">({{ negativeMarks }})</a>
			{% endif %}
			{% if user_choise == 1 %}
			<button class="btn btn-default btn-lg" onclick="ILikeIt()" style="background-color: rgba(0,192,128,0.3);"><b>ОЦЕНИТЬ ПОЛОЖИТЕЛЬНО</b></button>
			<a role="button" class="votingResultPositive">({{ positiveMarks }})</a>
			<button class="btn btn-default btn-lg" onclick="Note()" style="color: gray;"><b>ОЦЕНИТЬ ОТРИЦАТЕЛЬНО</b></button>
			<a role="button" class="votingResultNegative">({{ negativeMarks }})</a>
			{% endif %}
			{% if user_choise == 2 %}
			<button class="btn btn-default btn-lg" onclick="Note()" style="color: gray"><b>ОЦЕНИТЬ ПОЛОЖИТЕЛЬНО</b></button>
			<a role="button" class="votingResultPositive">({{ positiveMarks }})</a>
			<button class="btn btn-default btn-lg" onclick="IHateIt()" style="background-color: rgba(255,0,0,0.3);"><b>ОЦЕНИТЬ ОТРИЦАТЕЛЬНО</b></button>
			<a role="button" class="votingResultNegative">({{ negativeMarks }})</a>
			{% endif %}
		{% endif %}
		{% if not request.user.is_active %}
			<a href="{% url 'voting_for_programm' pk=programm.programm_title note='+' %}"><button class="btn btn-default btn-lg" style="color: gray;"><b>ОЦЕНИТЬ ПОЛОЖИТЕЛЬНО</b></button></a>
			<a role="button" class="votingResultPositive">({{ positiveMarks }})</a>
			<a href="{% url 'voting_for_programm' pk=programm.programm_title note='-' %}"><button class="btn btn-default btn-lg" style="color: gray;"><b>ОЦЕНИТЬ ОТРИЦАТЕЛЬНО</b></button></a>
			<a role="button" class="votingResultNegative">({{ negativeMarks }})</a>
		{% endif %}
	</div>
	<div class="positiveMarks" style="display: none;">
		{% for user in programm.programm_marked_positive_by.all %}
			<div class="voting" style="color: darkgreen;">{{ user.username }}</div>
		{% endfor %}
		{% if not programm.programm_marked_positive_by.all %}
			<div class="voting">нет проголосовавших</div>
		{% endif %}			
	</div>
	<div class="negativeMarks" style="display: none;">
		{% for user in programm.programm_marked_negative_by.all %}
			<div class="voting" style="color: maroon;">{{ user.username }}</div>
		{% endfor%}	
		{% if not programm.programm_marked_negative_by.all %}
			<div class="voting">нет проголосовавших</div>
		{% endif %}
	</div>
	<script type="text/javascript">
		function ILikeIt() {
			var xhr = new XMLHttpRequest();
			xhr.open('GET', "{% url 'voting_for_programm' pk=programm.programm_title note='+' %}", false);
			xhr.send();
			location.reload();
			if (xhr.status != 200) {
				// обработать ошибку
				alert( xhr.status + ': ' + xhr.statusText );
				// пример вывода: 404: Not Found
			}
		}
		function IHateIt() {
			var xhr = new XMLHttpRequest();
			xhr.open('GET', "{% url 'voting_for_programm' pk=programm.programm_title note='-' %}", false)
			xhr.send();
			location.reload();
			if (xhr.status != 200) {
				alert(xhr.status + ': ' + xhr.statusText);
			}
		}
		function Note() {
			alert('Сперва нужно отменить предыдущий выбор повторным нажатием активной кнопки!');
		}
	</script>
{% endblock programm_relations %}