{% block relations %}
	<div class="votingDiv">
		{% if request.user.is_active %}			
			{% if user_choise == 0 %}
			<a href="{% url 'voting' pk=article.id note='+' %}"><button class="btn btn-default btn-lg"><b>ОЦЕНИТЬ ПОЛОЖИТЕЛЬНО</b></button></a>
			<a role="button" class="votingResultPositive">({{ positiveMarks }})</a>
			<a href="{% url 'voting' pk=article.id note='-' %}"><button class="btn btn-default btn-lg"><b>ОЦЕНИТЬ ОТРИЦАТЕЛЬНО</b></button></a>
			<a role="button" class="votingResultNegative">({{ negativeMarks }})</a>
			{% endif %}
			{% if user_choise == 1 %}
			<a href="{% url 'voting' pk=article.id note='+' %}"><button class="btn btn-default btn-lg" style="background-color: rgba(0,192,128,0.3);"><b>ОЦЕНИТЬ ПОЛОЖИТЕЛЬНО</b></button></a>
			<a role="button" class="votingResultPositive">({{ positiveMarks }})</a>
			<button class="btn btn-default btn-lg" style="color: gray;"><b>ОЦЕНИТЬ ОТРИЦАТЕЛЬНО</b></button>
			<a role="button" class="votingResultNegative">({{ negativeMarks }})</a>
			{% endif %}
			{% if user_choise == 2 %}
			<button class="btn btn-default btn-lg" style="color: gray"><b>ОЦЕНИТЬ ПОЛОЖИТЕЛЬНО</b></button>
			<a role="button" class="votingResultPositive">({{ positiveMarks }})</a>
			<a href="{% url 'voting' pk=article.id note='-' %}"><button class="btn btn-default btn-lg" style="background-color: rgba(255,0,0,0.3);"><b>ОЦЕНИТЬ ОТРИЦАТЕЛЬНО</b></button></a>
			<a role="button" class="votingResultNegative">({{ negativeMarks }})</a>
			{% endif %}
		{% endif %}
		{% if not request.user.is_active %}
			<a href="{% url 'voting' pk=article.id note='+' %}"><button class="btn btn-default btn-lg" style="color: gray;"><b>ОЦЕНИТЬ ПОЛОЖИТЕЛЬНО</b></button></a>
			<a role="button" class="votingResultPositive">({{ positiveMarks }})</a>
			<a href="{% url 'voting' pk=article.id note='-' %}"><button class="btn btn-default btn-lg" style="color: gray;"><b>ОЦЕНИТЬ ОТРИЦАТЕЛЬНО</b></button></a>
			<a role="button" class="votingResultNegative">({{ negativeMarks }})</a>
		{% endif %}
	</div>
	<div class="positiveMarks" style="display: none;">
		{% for user in article.article_marked_positive_by.all %}
			<div class="voting" style="color: darkgreen;">{{ user.username }}</div>
		{% endfor %}
		{% if not article.article_marked_positive_by.all %}
			<div class="voting">нет проголосовавших</div>
		{% endif %}			
	</div>
	<div class="negativeMarks" style="display: none;">
		{% for user in article.article_marked_negative_by.all %}
			<div class="voting" style="color: maroon;">{{ user.username }}</div>
		{% endfor%}	
		{% if not article.article_marked_negative_by.all %}
			<div class="voting">нет проголосовавших</div>
		{% endif %}
	</div>
{% endblock relations %}