{% block style %}
{% load static %}


<!--/* FONTS INCLUDING */-->
<!--/* "MarckScriptRegular" */-->
@font-face {
    font-family: "MarckScriptRegular";
    src: url("{% static "fonts/MarckScriptRegular/MarckScriptRegular.eot" %}");
    src: url("{% static "fonts/MarckScriptRegular/MarckScriptRegular.eot?#iefix" %}")format("embedded-opentype"),
         url("{% static "fonts/MarckScriptRegular/MarckScriptRegular.woff" %}") format("woff"),
         url("{% static "fonts/MarckScriptRegular/MarckScriptRegular.ttf" %}") format("truetype");
    font-style: normal;
    font-weight: normal;
}
<!--/* "ZopaRegular" */-->
@font-face {
    font-family: "ZopaRegular";
    src: url("{% static "fonts/ZopaRegular.ZopaRegular.eot" %}");
    src: url("{% static "fonts/ZopaRegular.ZopaRegular.eot?#iefix" %}")format("embedded-opentype"),
         url("{% static "fonts/ZopaRegular/ZopaRegular.woff "%}") format("woff"),
         url("{% static "fonts/ZopaRegular/ZopaRegular.ttf" %}") format("truetype");
    font-style: normal;
    font-weight: normal;
}
<!--/* "LobsterRegular" */-->
@font-face {
    font-family: "LobsterRegular";
    src: url("{% static "fonts/LobsterRegular/LobsterRegular.eot" %}");
    src: url("{% static "fonts/LobsterRegular/LobsterRegular.eot?#iefix" %}")format("embedded-opentype"),
         url("{% static "fonts/LobsterRegular/LobsterRegular.woff" %}") format("woff"),
         url("{% static "fonts/LobsterRegular/LobsterRegular.ttf" %}") format("truetype");
    font-style: normal;
    font-weight: normal;
}
<!--/* "TypewriterRegular" */-->
@font-face {
    font-family: "TypewriterRegular";
    src: url("{% static "fonts/TypewriterRegular/TypewriterRegular.eot" %}");
    src: url("{% static "fonts/TypewriterRegular/TypewriterRegular.eot?#iefix" %}")format("embedded-opentype"),
         url("{% static "fonts/TypewriterRegular/TypewriterRegular.woff" %}") format("woff"),
         url("{% static "fonts/TypewriterRegular/TypewriterRegular.ttf" %}") format("truetype");
    font-style: normal;
    font-weight: normal;
}
<!--/* "Lighthaus" */--> 
@font-face {
    font-family: 'Lighthaus';
    src: url('{% static "fonts/Lighthaus/Lighthaus.eot" %}');
    src: url("{% static "fonts/Lighthaus/Lighthaus.eot?#iefix" %}")format('embedded-opentype'),
         url('{% static "fonts/Lighthaus/Lighthaus.woff" %}') format('woff'),
         url('{% static "fonts/Lighthaus/Lighthaus.ttf" %}') format('truetype');
    font-weight: normal;
    font-style: normal;
}
<!--/* "Philosopher" */-->
@font-face {
    font-family: 'Philosopher';
    src: url('{% static "fonts/Philosopher/Philosopher-Bold.eot" %}');
    src: url('{% static "fonts/Philosopher/Philosopher-Bold.eot?#iefix" %}')format('embedded-opentype'),
         url('{% static "fonts/Philosopher/Philosopher-Bold.woff" %}') format('woff'),
         url('{% static "fonts/Philosopher/Philosopher-Bold.ttf" %}') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Philosopher';
    src: url('{% static "fonts/Philosopher/Philosopher-BoldItalic.eot" %}');
    src: url('{% static "fonts/Philosopher/Philosopher-BoldItalic.eot?#iefix" %}')format('embedded-opentype'),
         url('{% static "fonts/Philosopher/Philosopher-BoldItalic.woff" %}') format('woff'),
         url('{% static "fonts/Philosopher/Philosopher-BoldItalic.ttf" %}') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Philosopher';
    src: url('{% static "fonts/Philosopher/Philosopher.eot" %}');
    src: url('{% static "fonts/Philosopher/Philosopher.eot?#iefix" %}')format('embedded-opentype'),
         url('{% static "fonts/Philosopher/Philosopher.woff" %}') format('woff'),
         url('{% static "fonts/Philosopher/Philosopher.ttf" %}') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Philosopher';
    src: url('{% static "fonts/Philosopher/Philosopher-Italic.eot" %}');
    src: url('{% static "fonts/Philosopher/Philosopher-Italic.eot?#iefix" %}')format('embedded-opentype'),
         url('{% static "fonts/Philosopher/Philosopher-Italic.woff" %}') format('woff'),
         url('{% static "fonts/Philosopher/Philosopher-Italic.ttf" %}') format('truetype');
    font-weight: normal;
    font-style: italic;
}
<!--/* "AnonymousPro" */-->
@font-face {
    font-family: 'AnonymousPro';
    src: url('{% static "fonts/AnonymousPro/AnonymousPro-Bold.eot" %}');
    src: url('{% static "fonts/AnonymousPro/AnonymousPro-Bold.eot?#iefix" %}')format('embedded-opentype'),
         url('{% static "fonts/AnonymousPro/AnonymousPro-Bold.woff" %}') format('woff'),
         url('{% static "fonts/AnonymousPro/AnonymousPro-Bold.ttf" %}') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'AnonymousPro';
    src: url('{% static "fonts/AnonymousPro/AnonymousPro-BoldItalic.eot" %}');
    src: url('{% static "fonts/AnonymousPro/AnonymousPro-BoldItalic.eot?#iefix" %}')format('embedded-opentype'),
         url('{% static "fonts/AnonymousPro/AnonymousPro-BoldItalic.woff" %}') format('woff'),
         url('{% static "fonts/AnonymousPro/AnonymousPro-BoldItalic.ttf" %}') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'AnonymousPro';
    src: url('{% static "fonts/AnonymousPro/AnonymousPro-Italic.eot" %}');
    src: url('{% static "fonts/AnonymousPro/AnonymousPro-Italic.eot?#iefix" %}')format('embedded-opentype'),
         url('{% static "fonts/AnonymousPro/AnonymousPro-Italic.woff" %}') format('woff'),
         url('{% static "fonts/AnonymousPro/AnonymousPro-Italic.ttf" %}') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'AnonymousPro';
    src: url('{% static "fonts/AnonymousPro/AnonymousPro-Regular.eot" %}');
    src: url('{% static "fonts/AnonymousPro/AnonymousPro-Regular.eot?#iefix" %}')format('embedded-opentype'),
         url('{% static "fonts/AnonymousPro/AnonymousPro-Regular.woff" %}') format('woff'),
         url('{% static "fonts/AnonymousPro/AnonymousPro-Regular.ttf" %}') format('truetype');
    font-weight: normal;
    font-style: normal;
}
<!--/* "RUSBoycott" */-->
@font-face {
    font-family: 'RUSBoycott';
    src: url('{% static "fonts/RUSBoycott/RUSBoycott.eot" %}');
    src: url('{% static "fonts/RUSBoycott/RUSBoycott.eot?#iefix" %}')format('embedded-opentype'),
         url('{% static "fonts/RUSBoycott/RUSBoycott.woff" %}') format('woff'),
         url('{% static "fonts/RUSBoycott/RUSBoycott.ttf" %}') format('truetype');
    font-weight: normal;
    font-style: normal;
}
<!--/* "Monitorica" */-->
@font-face {
    font-family: 'Monitorica';
    src: url('{% static "fonts/Monitorica/Monitorica-BoldItalic.eot" %}');
    src: url('{% static "fonts/Monitorica/Monitorica-BoldItalic.eot?#iefix" %}')format('embedded-opentype'),
         url('{% static "fonts/Monitorica/Monitorica-BoldItalic.woff" %}') format('woff'),
         url('{% static "fonts/Monitorica/Monitorica-BoldItalic.ttf" %}') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Monitorica';
    src: url('{% static "fonts/Monitorica/Monitorica-Italic.eot" %}');
    src: url('{% static "fonts/Monitorica/Monitorica-Italic.eot?#iefix" %}')format('embedded-opentype'),
         url('{% static "fonts/Monitorica/Monitorica-Italic.woff" %}') format('woff'),
         url('{% static "fonts/Monitorica/Monitorica-Italic.ttf" %}') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Monitorica';
    src: url('{% static "fonts/Monitorica/Monitorica.eot" %}');
    src: url('{% static "fonts/Monitorica/Monitorica.eot?#iefix" %}')format('embedded-opentype'),
         url('{% static "fonts/Monitorica/Monitorica.woff" %}') format('woff'),
         url('{% static "fonts/Monitorica/Monitorica.ttf" %}') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Monitorica';
    src: url('{% static "fonts/Monitorica/Monitorica-Bold.eot" %}');
    src: url('{% static "fonts/Monitorica/Monitorica-Bold.eot?#iefix" %}')format('embedded-opentype'),
         url('{% static "fonts/Monitorica/Monitorica-Bold.woff" %}') format('woff'),
         url('{% static "fonts/Monitorica/Monitorica-Bold.ttf" %}') format('truetype');
    font-weight: bold;
    font-style: normal;
}
<!--/* "TT Directors DEMO" */-->
@font-face {
    font-family: 'TT Directors DEMO';
    src: url('{% static "fonts/Directors/TTDirectorsDEMOBL-Regular.eot" %}');
    src: url('{% static "fonts/Directors/TTDirectorsDEMOBL-Regular.eot?#iefix" %}')format('embedded-opentype'),
         url('{% static "fonts/Directors/TTDirectorsDEMOBL-Regular.woff" %}') format('woff'),
         url('{% static "fonts/Directors/TTDirectorsDEMOBL-Regular.ttf" %}') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'TT Directors DEMO Thin Rough';
    src: url('{% static "fonts/Directors/TTDirectorsDEMOThinRough-Thin.eot" %}');
    src: url('{% static "fonts/Directors/TTDirectorsDEMOThinRough-Thin.eot?#iefix" %}') format('embedded-opentype'),
         url('{% static "fonts/Directors/TTDirectorsDEMOThinRough-Thin.woff" %}') format('woff'),
         url('{% static "fonts/Directors/TTDirectorsDEMOThinRough-Thin.ttf" %}') format('truetype');
    font-weight: 100;
    font-style: normal;
}


<!--/* HEADERS */-->
<!--/* PAGE HEADER */-->
.pageHeader {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px; 
    border-bottom-right-radius: 0px;
    margin-top: 25px;
    padding: 25px;
}
.projectTitle {
    font-family: LobsterRegular;    
    text-align: center;
    color: rgb(102,0,0);
}
.explain {
    font-family: MarckScriptRegular;
    text-align: right;
    color: rgb(0,0,80);
}
<!--/* MAINPAGE HEADER */-->
.mainpageHeader {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgba(255,255,255,0.3);
    margin-top: 25px;
    padding: 25px;
}


<!--/* PAGE BACKGROUND IMAGES */-->
<!--/* PROJECT PAGE BACKGROUND IMAGES */-->
.mainpageBackground {
    background-image: url({% static 'images/vinyl.jpg' %}); 
}


<!--/* NAVBAR */-->
<!--/* изменение значений свойств по умолчанию для навигационной панели */-->
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.navbar-default {
    background-color: rgba(0,91,62,0.75);
    border-color: #080808;
}
<!--/* цвет текста, содержащий название сайта или бренда */-->
.navbar-default .navbar-brand {
    color: #d1ffed;
}
<!--/* цвет текста (название сайта или бренда), при поднесении к нему курсора мышки или при его нахождении в фокусе */-->
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
<!--/* Цвет пунктов навигационного меню */-->
.navbar-default .navbar-nav > li > a {
    color: #d1ffed;
}
<!--/* Цвет пункта меню, при поднесении к нему курсора мышки или при его нахождении в фокусе */-->
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
<!--/* Цвет и фон активного пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */-->
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: rgba(0,91,62,1);
}
<!--/* Цвет и фон открытого пункта меню, а также поднесении к нему курсора мышки или при его нахождении в фокусе */-->
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: rgba(18,154,106,0.5);
}
<!--/* Цвет стрелочки (треугольничка) у раскрывающихся пунктов меню */-->
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #d1ffed;
    border-bottom-color: #d1ffed;
}
<!--/* Цвет стрелочки (треугольничка) при поднесении к нему курсора мышки или при его нахождении в фокусе */-->
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
<!--/* Цвет стрелочки (треугольничка), открывшегося пункта меню */-->
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
<!--/* CSS стили для мобильных устройств */-->
<!--/* Цвет рамки у кнопки, которая открывает меню */-->
.navbar-default .navbar-toggle {
    border-color: #d1ffed;
}
<!--/* Цвет фона кнопки (которая открывает меню) при поднесении к ней курсора мышки или при нахождении её в фокусе */-->
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: rgba(0,91,62,1);
}
<!--/* Цвет полосочек в кнопочке, которая открывает меню */-->
.navbar-default .navbar-toggle .icon-bar {
    background-color: #d1ffed;
}
<!--/* Цвет пунктов меню в раскрывающихся списках */-->
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #d1ffed;
    }
}
<!--/* Цвет и фон пункта меню в раскрывающихся списках, при поднесении к нему курсора мышки или при нахождении его в фокусе */-->
@media (max-width: 767px) {    
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: rgba(0,91,62,1);
  }
}


<!--/* CONTENT FIELD */-->
<!--/* Белый блок с контентом внутри контейнера */-->
.contentField {
    padding: 25px;
    background-color: rgba(255,255,255,0.8);
}
<!--/* блок контента по умолчанию для пустой страницы */-->
.noContent {
    text-align: center;
    color: red;
}
.filterField {
    font-family: ZopaRegular;
    text-align: center;
    background-color: rgba(255,255,255,0.3);
    border-radius: 6px;
    padding: 10px;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
<!--/* блок для фильтра статей по дате */-->
.articlesFilter {
    font-family: ZopaRegular;
    text-align: center;
    background-color: rgba(127,127,127,0.5);
    border-radius: 10px;
    margin-bottom: 15px
}
<!--/* блок для отображения сведений о статье в списке статей */-->
.articleInfo {
    text-align: right;    
}
<!--/* Стиль загаловка статьи в списке статей */-->
.articleTitle {
    font-family: TypewriterRegular;
    text-align: center;
    color: #3978AB;
}
<!--/* Стиль загаловка онлайн-теста в списке тестов (применится для неавторизованных пользователей) */-->
.articleTitle:hover {
    color: gray;    
}
<!--/* Стиль для изображений в списке статей */-->
.articleImage {
    max-width: 80%;
    height: auto;
    border-radius: 6px;    
}
<!--/* Стиль для краткого изложения текста статьи в списке статей */-->
.articlePreview {
    font-family: Philosopher;
    font-size: 20px;
    text-align: center;
}
<!--/* Стиль текста статьи */-->
.articleText {
    font-family: Philosopher;
    font-size: 20px;
}
<!--/* Стиль блока голосования */-->
.votingDiv { 
    text-align: center;
    vertical-align: middle;
    font-family: Monitorica;
    margin-bottom: 20px;
}
.votingResultPositive {
    border-radius: 6px;
    color: darkgreen;
    font-family: Monitorica;
    font-size: 30px;
}
.votingResultPositive:hover {
    color: darkgreen;
}
.votingResultNegative {
    border-radius: 6px;
    color: maroon;
    font-family: Monitorica;
    font-size: 30px;
}
.votingResultNegative:hover {
    color: maroon;
}
<!--/* Стиль надписи с именами проголосовавших пользователей */-->
.voting {
    font-family: Monitorica;
    font-size: 25px;
    text-align: center;
}
<!--/* Блок для формы отправки комментария */-->
.formField {
    background-color: rgba(127,127,127,0.5);
    border-radius: 10px;
    padding: 25px;
    text-align: center;
}
<!--/* Стиль надписи о порядке работы с комментариями */-->
.note {
    font-family: ZopaRegular;
    font-size: 20px;
    margin-bottom: 20px;
}
<!--/* Стиль надписи о необходимости авторизоваться */-->
.loginNote {
    font-family: ZopaRegular;
    font-size: 20px;
    color: #ffffff
}
<!--/* Стиль надписи "Комментарии" */-->
.comments {
    font-family: Philosopher;
    text-align: center;
}
<!--/*Стиль надписи "Нет комментариев"*/-->
.noComments {
    font-family: TypewriterRegular;
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
}
<!--/* Стиль для отображения комментариев пользователя, не прошедших модерацию */-->
.unmoderated {
    color: gray;
}
<!--/* Стиль надписи о необходимости авторизоваться для прохождения онлайн-тестов  */-->
.loginRequred {
    color: maroon;
    font-family: ZopaRegular;
    font-size: 20px;
    text-align: center;    
}
<!--/* Стиль надписи, содержащей сведения о промежутке времени между авторизациями */-->
.while_logged_in {
    background-color: rgba(200,255,200,0.8);
    font-family: ZopaRegular;
    padding-bottom: 0px;
    text-align: center;
}
<!--/* Стиль надписи со ссылкой для сброса пароля */-->
.forgottenPassword {
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
}
<!--/* Стиль надписи со сведениями о прохождении тестирования */-->
.quizStatus {
    text-align: center;
}
<!--/* Стиль надписи с названием выбранного онлайн-тестирования */-->
.quizTitle {
    font-family: AnonymousPro;
    font-size: 20px;
    text-align: center;
}
<!--/* Стиль надписи, содержащей формулировку вопроса */-->
.questionText {
    font-family: Philosopher;
    font-size: 20px;  
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
}
<!--/* Стиль блока для вывода картинки к варианту ответа */-->
.currentSize {
    height: 300px;
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3px;
}
<!--/* Стиль блока с вариантом ответа */-->
.questionField {
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    padding: 25px;
    text-align: center;
    margin-bottom: 30px;
}
<!--/* Стиль для выделения верных ответов на вопросы викторины */-->
.correctAnswer {
    color: darkgreen;
}
<!--/* Стиль для выделения неверных ответов на вопросы викторины */-->
.incorrectAnswer {
    color: maroon;
}
<!--/* Стиль блока со сведениями об размере аудитории  сайта */-->
.audienceDiv {
    font-family: RUSBoycott;
    font-size: 21px;
    text-align: center;
}
<!--/* Стиль блока с числом пользователей сайта */-->
.audienceValue {
    border-radius: 15px;
    border: 1px solid transparent;
    border-color: red;
    font-size: 26px;
    font-family: Monitorica;
    font-weight: bold;
    padding: 10px;
}
<!--/* Стиль блока с перечислением пользователей сайта */-->
.audienceList {
    font-family: Monitorica;
    font-size: 20px;
    text-align: center;
}
<!--/* Стиль блока с числом администраторов сайта */-->
.adminsNumber {
    border-radius: 15px;
    border: 1px solid transparent;
    border-color: rgb(0,192,128);
    font-size: 26px;
    font-family: Monitorica;
    font-weight: bold;
    padding: 10px;
}
<!--/* Стиль блока с перечислением администраторов сайта */-->
.adminsList {
    font-family: Monitorica;
    font-size: 20px;
    text-align: center;
}
<!--/* Стиль оформления ссылок для скачивания программ */-->
.myLink {
    text-align: center;
}
<!--/* Стиль для заголовка с названием программы */-->
.programmName {
    font-family: Lighthaus;
    text-align: center;
}
<!--/* Стиль текста с описанием программы */-->
.programmInfo {
    font-family: Philosopher;
    text-align: center;
    font-style: italic;
}
<!--/* Стиль подзаголовков на странице "Контакты" */-->
.contactType {
    font-family: TypewriterRegular;
}
<!--/* Стиль для указания контактных данных */-->
.contactValue {
    font-family: Philosopher;
    text-align: center;
    font-style: italic;
}
<!--/* Стиль заголовков страниц сайта */-->
.pageName {
    font-family: Lighthaus;
    text-align: center;
    padding-bottom: 20px;
}
<!--/* стиль для оторбражения логинов для авторизации при использовании ПП */-->
.accountLogin {
    font-style: italic;
    text-decoration: underline;
}
<!--/* стиль для оторбражения паролей для авторизации при использовании ПП */-->
.accountPassword {
    text-align: center;
}
<!--/* Стиль текста для страницы с достижениями */-->
.achievement {
    font-family: Philosopher;
    font-style: italic;
}
<!--/* Стили для оформления слайдера контента */-->
.carousel h3{
    color: #aaa;
    margin: 0;
    padding-top: 50px;
    font-size: 30px; 
}
.carousel p{
    color: rgb(30,150,150);
    margin: 0;
    padding-top: 50px;
}

<!--/* FOOTER */-->
<!--/* стиль блока FOOTER */-->
.projectFooter {
    background: rgba(0,91,62,0.75);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    color: white;
    margin-bottom: 25px;
    padding: 5px;
    text-align: center;
}
<!--/* стиль блока с надписью года и геолокации сайта */-->
.currentLocationAndYear {
    font-family: TypewriterRegular;
}
<!--/* стиль надписи в футере сайта */-->
.footerLetters {
    font-family: ZopaRegular;
}
<!--/* !!! STYLE VERSION (25.01.2019) !!! */-->
{% endblock %}