{% extends 'base.html' %}
{% block title %}1C{% endblock %}
{% block content %}
	{% load static %}
	<div class="container">
		<div class="contentField">
			<div class="programmName"><h2>Информационные базы 1С: Предприятия</h2></div>
			<div class="programmInfo">Информационные базы для платформы 1С: Предприяте 8.3</div>
			<hr>
			<p>Список информационных баз: 
				<ul>
					<li><a href="{% static 'myprogramms/1С/Программирование для начинающих/1Cv8.dt' %}">по книге М. Г. Радченко "1С: Программирование для начинающих. Детям и родителям, менеджерам и руководителям. Разработка в системе 1С:Предприятие 8.3";</a></li>
					<li><a href="{% static 'myprogramms/1С/Практическое пособие разработчика/1Cv8.dt' %}">по книге М. Г. Радченко, Е. Ю. Хрусталевой "1С:Предприятие 8.3. Практическое пособие разработчика. Примеры и типовые приемы";</a></li>
					<li>по книге С.М. Кашева ""Программирование в 1С:Предприятие 8.3.</li>
				</ul></p>			
			<hr>
			<p><b>Системные требования:</b></p>
			<p>определяются требованиями к ЭВМ, предъявляемыми платформой 1С: предприятие 8.3. Ознакомиться с этими требованиями можно на <a href="https://1c.ru/rus/products/1c/predpr/compat/hard/demand.htm">официальном сайте 1С</a>.</p>
			<hr>
			<p><b>Пароли учетных записей:</b></p>
			<p>Конфигурации разработаны на учебной версии 1С. Отсутствие возможности задавать пароли учетных записей пользователей является одним из ограничений учебной версии.</p>
			{% block comments %}{% include 'comments.html' %}{% endblock comments %}
		</div>
	</div>
{% endblock %}