{% extends 'base.html' %}
{% block title %}Достижения{% endblock %}
{% block content %}
{% load static %}
  <div class="container">
    <div class="contentField">
    	<div class="pageName"><h2>Достижения:</h2></div>
    	<h3>2017</h3>
    	<div class="achievement">
    	  <ul>
    	    <li><h4>МКЭИТ. Олимпиада по теории вероятностей среди студентов III и IV курсов – 2 место;</h4></li>
    	    <li><h4>ММРК им. И.И. Месяцева ФГБОУ ВО «МГТУ». Ежегодная региональная студенческая научно-практическая конференция «Первые шаги в науке» секция «Математика и информационные технологии» - 1 место;</h4></li>
    	    <li><h4>МАГУ. Региональная ежегодная конференция «Путь в науку: первые шаги» секция «Информационные технологии в образовании» - диплом 1 степени;</h4></li>
    	    <li><h4>МГТУ. Студенческая научно-техническая конференция СНТК-2017 секция «Иностранный язык как средство межкультурной коммуникации» - 2 место.</h4></li>
    	  </ul>
      </div>
      <hr>
    	<h3>2018</h3>
    	<div class="achievement">
    	  <ul>
          <li><h4>Участие в демонстрационном экзамене по стандартам ВорлдСкиллс Россия (компетенция: 09 Программные решения для бизеса) - <a href="{% static 'documents/Баль Петр Владимирович.pdf' %}">Skills passport</a>;</h4></li>
    	    <li><h4>Курсы на stepik.org:</h4></li>
    	    <ul>
    	  	  <li>
              <h4>
                <a href="https://stepik.org/cert/118283">Программирование на Python</a> - сертификат с отличием;
              </h4>
            </li>
    	  	  <li>
              <h4>
                <a href="https://stepik.org/cert/123077">Введение в базы данных</a> - сертификат с отличием;
              </h4>
            </li>
            <li>
              <h4>
                <a href="https://stepik.org/cert/142133">JavaScript для начинающих</a> - сертификат;
              </h4>
            </li>
            <li>
              <h4>
                <a href="https://stepik.org/cert/147048">Web-технологии</a> - сертификат.
              </h4>            
            </li>
    	    </ul>
    	  </ul>
      </div>
      <hr>
      <h3>2019</h3>
      <div class="achievement">
        <ul>
          <li>
            <h4>
              Курс на intuit.ru: <a href="https://www.intuit.ru/verifydiplomas/101213506">Введение в Django</a> - сертификат.
            </h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}