{% extends 'base.html' %}
{% block title %}Учет посуды{% endblock %}
{% block content %}
{% load static %}
<div class="container">
  <div class="contentField">
  	<div class="programmName"><h2>Приложение для учета посуды в ресторане "Спасательный круг"</h2></div>
  	<div class="programmInfo">Программный продукт разрабатывался в среде Delphi 7 (язык Object Pascal), с использованием технологии локальных баз данных в декабре 2017 года в рамках производственной практики с использованием технологии баз данных как оновного средства хранения информации. Для реализации задачи выла выбрана СУБД Microsoft Access 2010. Для хранения базы были выбраны файлы формата accdb.</div>
    <div class="myLink"><a href="{% static 'myprogramms/Dinnerware_accounting.zip' %}">Скачать программный продукт можно по этой ссылке</a></div>
    {% block programm_relations %}{% include 'programm_relations.html' %}{% endblock programm_relations %}
    <hr>
    <p><b>Системные требования:</b></p>
  	<p><ul><li>ОС линейки Windows;</li><li>наличие предустановленной СУБД Microsoft Access.</li></ul></p><p>Работоспособность приложения проверялась на Windows 7.</p>
    <hr>
    <p><b>Порядок установки:</b></p>
  	<p>Расположите указанную в разархивированных файлах папку в корневую директорию диска С:\\, или другую указанную папку в корневую директорию диска D:\\, так, чтобы путь к базе данных accounting_ware выглядел: "C:\\Практика БД\accounting_ware.accdb" или "D:\\Практика БД\accounting_ware.accdb".(При наличии диска D:\\ лучше использовать этот вариант, т.к. процесс исполнения файла с диска C:\\ может блокироваться антивирусом или отсутствием прав доступа). Exe-файл приложения можно расположить в любом месте на ПК. Менять место расположения файла баз данных нельзя.</p>
    <hr>
    <p><b>Основы работы с программой:</b></p>
  	<p>Все функции выполняемые программным продуктом перечислены в главном меню и объединены в категории. Пункт главного меню "Информационная база" содержит подпункты "справочники", "приход", "инвентаризация", "расход" и "склад".</p>
    <p>Подпункт "справочники" позволяет просматривать, добавлять, редактировать и удалять справочные данные, к которым относятся типы посуды и причины расхода посуды. Перед редактированием и удалением производится проверка на целостность и непротиворечивость данных.</p>
    <p>Подпункт "приход" позволяет просматривать, добавлять, редактировать, и удалять сведения о поставках посуды в случае их непротиворечивости и автоматически пересчитывать количество посуды на складе.</p>
    <p>Подпункт "инвентаризация" содержит сведения о инвентаризационных актах и их результатах. Подпункт позволяет добавлять данные о новых инвентаризациях. В отсутствующая в момент проведения инвентаризации посуда автоматически отражается как утраченная с причиной утраты "пропажа". Нельзя удалять и изменять акты проведенных инвентаризаций.</p>
    <p>Подпункт "расход" позволяет просматривать, добавлять, редактировать, и удалять сведения о расходе посуды в том случае если в результате внесения новых сведений на складе не окажется отрицательное количество посуды любого наименования. Также в этом подпункте можно провести выборки данных по наименованию посуды, по причине расхода или по расходу посуды за указанный период.</p>
    <p>Подпункт "склад" позволяет просматривать, добавлять, редактировать, и удалять сведения о конкретном экземпляре посуды. Сведения о количестве посуды формируются на основании поступления посуды, расхода посуды и инвентаризации, т.о. информацию о количестве посуды на складе можно только просматривать, но нельзя редактировать напрямую.</p>
    <p>Пункт меню "Документы" позволяет сформировать документ акта инвентаризации на оснавании проведенной инвентаризации, сведения о которой сохранены в подпункте меню "инветаризация" и автоматически будут внесены в созданный документ.</p>
    <p>Пункт меню "пользователи" содержит подпункты "смена пароля" (недоступен для администратора) и "список пользователей" (доступен только для администратора). Подпункт "список пользователей" поволяет просматривать, добавлять, редактировать, удалять учетные записи пользователей.</p>
    <p>Пункт меню "Завершение работы" позволяет сменить пользователя или закрыть приложение.</p>
    <hr>
    <p><b>Логины и пароли учетных записей:</b></p>
    <div class="accountLogin">Логин учетной записи администратора:</div>
    <div class="accountPassword">Admin</div>
    <div class="accountLogin">Пароль учетной записи администратора:</div>
    <div class="accountPassword">1</div>
    <div class="accountLogin">Пароль учетной записи с логином <b>1</b>:</div>
    <div class="accountPassword">1</div>
    <div class="accountLogin">Пароль учетной записи с логином <b>2</b>:</div>
    <div class="accountPassword">2</div>
    <div class="accountLogin">Пароль учетной записи с логином <b>3</b>:</div>
    <div class="accountPassword">3</div>
    <div class="accountLogin">Пароль учетной записи с логином <b>4</b>:</div>
    <div class="accountPassword">4</div>
    {% block comments %}{% include 'comments.html' %}{% endblock comments %}
  </div>
</div>
{% endblock %}