{% extends 'base.html' %}
{% block title %}Interactive crossword{% endblock %}
{% block content %}
{% load static %}
<div class="container">
  <div class="contentField">
  	<div class="programmName"><h2>Интерактивный кроссворд на английском языке</h2></div>
  	<div class="programmInfo">Интерактивный кроссворд разрабатывался в рамках учебного процесса по предметам программировагние и английский язык. Разработка велась в среде Delphi 7 (язык Object Pascal) в марте 2017 года.</div>
	<div class="myLink"><a href="{% static 'myprogramms/Crossword.zip' %}">Скачать программный продукт можно по этой ссылке</a></div>
	{% block programm_relations %}{% include 'programm_relations.html' %}{% endblock programm_relations %}
	<hr>
	<p><b>Системные требования:</b></p>
    <p><ul><li>ОС линейки Windows.</li></ul></p><p>Работоспособность приложения проверялась на Windows 7.</p>
	<hr>
	<p><b>Порядок установки:</b></p>
	<p>Распаковать архив с программой в отдельную папку. Папку с разархивированными файлами можно разместить в любой директории на ПК или съемном носителе информации. Нельзя удалять, перемещать или изменять файлы из папки с кроссвордом.</p>
	<hr>
	<p><b>Основы работы с программой</b></p>
	<p>Работа с программой ведется двумя категориями пользователей: преподавателем и студеентами. Доступ к функционалу программы, доступному для студентов никак не ограничивается. Для доступа к функциям программы, доступных для преподавателя необходимо ввести пароль.</p>
	<p>Для того чтобы воспользоваться программой в качестве студента необходимо после появления окна приветствия выбрать статус "STUDENT" и нажать кнопку "CONTINUE". В появившемя окне указать свою фамилию, имя и группу и нажать кнопку "CONTINUE". После этого начнется отсчет времени (потраченное на разгадывание кроссворда время никак не влияет на оценку результата, учет времени ведется исключительно в статистических целях) и появляется интерактивный кроссворд. Формулировки вопросов появляются при выборе ячейки вопроса в кроссворде. После завершения разгадывания кроссворда нужно нажать кнопку "CHECK CROSSWORD". При этом отсчет времени пректащается, кроссворд заплняется правильными значениями, подсчитывается число разгаданных слов, на оснавании чего высставляется оценка и сохраняются данные в файл, где преподаватель может посмотреть результаты разгадывания кроссворда студетами.</p>
	<p>Преподавателю для работы с программой необходимо ввести пароль (См. ниже) преподавателя. После авторизации преподавателью доступны функции просмотра статистики (при нажатии на кнопку "SHOW STUDENT'S STATISTIC"), и изменения формулировок вопросов. При выборе функции просмотра статистики доступна функция очистки татистических данных (кнопка "REMOVE STATISTIC"). Для изменения статистических данных нужно в меню преподавателя выбрать пункт "CHANGE TEXT OF QUESTIONS AND SHOW CORREDCTLY FILLED CROSSWORD", затем на следующем шаге нажать кнопку "CHANGE QUESTIONS" и после завершения редактирования текста вопросов нажать кнопку "SAVE CHANGES".</p>
	<hr>
	<p><b>Пароль преподавателя:</b></p>
	<div class="accountPassword">abc</div>
	{% block comments %}{% include 'comments.html' %}{% endblock comments %}
  </div>
</div>
{% endblock %}
