{% extends 'base.html' %}
{% block title %}Учет материальных запасов{% endblock %}
{% block content %}
	{% load static %}
	{% url 'contacts' as contacts %}
	<div class="container">
	  <div class="contentField">
	  	<div class="programmName"><h2>Приложение для учета материальных запасов в ООО "Норд Пилигрим"</h2></div>
	  	<div class="programmInfo">Программный продукт разрабатывается в рамках шаблонного программного решения для курсовых и дипломных работ. В представленном примере инвентаризационный учет ведется в ООО «Норд Пилигрим», но в краткие сроки возможно изменение интерфейса и корректировка алгоритмов программного решения под условия другой организации. Разработка ведется в среде Microsoft Visual Studio 2015 Community Edition (язык C#). По вопросам приобритения ПП можно обращаться <a href="{{ contacts }}">напрямую к разработчику</a>.</div>
	  	<div class="myLink"><a href="{% static 'myprogramms/InventoryAccounting.7z' %}">Скачать программный продукт можно по этой ссылке</a></div>
		<hr>
	  	<p><b>Системные требования:</b></p>
	  	<p><ul><li>ОС линейки Windows;</li><li>наличие предустановленного пакета .NET Framework 4.5.2<li>наличие предустановленной СУБД MySQL Server и инструмента для визуального проектирования баз данных MySQL Workbench;</li><li>база данных inventory_accounting, предустановленная на локальном сервере.</li></ul></p><p><p>Скачать <a href="https://www.microsoft.com/net/download/dotnet-framework-runtime/net452">.NET Framework 4.5.2</a> можно с официального сайта Microsoft. Скачать <a href="https://dev.mysql.com/downloads/mysql/5.7.html#downloads">MySQL Community Server</a>, включающий в себя MySQL Workbench, можно с официального сайта проекта. Работоспособность приложения проверялась на Windows 7.</p>
	  	<hr>
	  	<p><b>Порядок установки:</b></p>
  		<p><ul><li>установить СУБД MySQL Community Server, и настроить ее (пароль <b>qwerty</b> для root аккаунта) с учетом строки подключения базы данных, испорльзующейся в программном продукте, и убедиться, что установленная версия поддерживает unicode кодировку (записи, содержащие кириллицу, сохраняются в БД);</li><li>импортировать базу данных <b>inventory_accounting</b>;</li><li>разместить файлы с программным продуктом в любой директории на компьютере, не изменяя расположение файлов и папок внутри папки данного программного решения.</li></ul></p>
  		<hr>
	    <p><b>Основы работы с программой:</b></p>
	  	<p>Для авторизации в данном ПП используйте учетные данные приведенные в разделе ниже, в том случае, если вы еще не изменяли учетные данные пользователей средствами данного приложения либо средствами СУБД.</p>
	  	<p>Пользователи, авторизовавшиеся в рамках учетной записи с типом "администратор" могут вносить изменения (создание, редактирование, удаление записей) в таблицу содержащую сведения о сотрудниках, и таблицу с учетными записями сотрудников. Весь остальной функционал ПП для них недоступен.</p>
	  	<p>Пользователи с типом учетной записи "пользователь" выполняют саму задачу инвентаризационного учета в организации. Им доступен весь функционал приложения, за исключением функций управления учетными записями пользователей.</p>
	  	<p>В главном меню приложения все функции разделены по разделам.</p>
	  	<p>Раздел "Информационная база" предназначен для формирования актуальных сведений инвентаризационного учета в базе данных. Пункт меню "Организацинная информация" позволяет поддерживать актуальные сведения о сотрудниках предприятия, помещениях, видах и образцах (моделях) материальных запасов. Пункт меню "Материальные запасы" позволяет просматривать и изменять информацию о материальных запасах, находящихся на инвентаризационном учете в текущий момент времени. В пункте меню "Приходные накладные" можно формировать и просматривать сведения о всех поступлениях материалбных запасов. Пункт меню "Акты списания" позволяет учитывать в базе данных информацию о списании материальных запасов.</p>
	  	<p>При дальнейшей разработке планируется доработка существующих алгоритмов, добавление программного формирования документов и создание интерфейса для изменения логинов и паролей учетных записей самими пользователями.</p>
	  	<hr>
	  	<p><b>Строка подключения БД:</b></p>
	  	<p>DataBase = inventory_accounting; Data Source = localhost; userID = root; password = qwerty</p>
	  	<hr>
	    <p><b>Логины и пароли учетных записей:</b></p>
	  	<div class="accountLogin">Логин учетной записи администратора:</div>
	    <div class="accountPassword">1</div>
	    <div class="accountLogin">Пароль учетной записи администратора:</div>
	    <div class="accountPassword">1</div>
	    <div class="accountLogin">Логин учетной записи пользователя:</div>
	    <div class="accountPassword">3</div>
	    <div class="accountLogin">Пароль учетной записи пользователя:</div>
	    <div class="accountPassword">3</div>
	  	{% block comments %}{% include 'comments.html' %}{% endblock comments %}
	  </div>
	</div>
{% endblock %}