{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
  <div class="container">
  	<div class="contentField">
  	  <h3>Во время обучения в МКЭиИТе подробно рассматривались языки программирования:</h3>
  	  <ul>
        <li>Object Pascal (Delphi);</li>
        <li>C# (Visual Studio).</li>
  	  </ul>
  	  <h3>Осуществлялось знакомство с языками и средами программирования:</h3>
  	  <ul>
  	    <li>C++;</li>
  	    <li>PHP;</li>
  	    <li>1C: Предприятие 8.3.</li>
  	  </ul>
  	  <h3>В рамках учебного процесса осуществлялась работа с СУБД:</h3>
  	  <ul>
  	    <li>Microsoft Access;</li>
  	    <li>MySQL (MySQL Community Server, MySQL Workbench, PHP MyAdmin).</li>	
  	  </ul>
  	  <h3>Самостоятельно изучаю языки программирования:</h3>
  	  <ul>
        <li>1C;</li>
  	    <li>Python;</li>
  	    <li>JavaScript.</li>
  	  </ul>
      <hr>
      <div class="audienceDiv">
        {{ results.0 }}
        <a role="button" class="audienceValue" style="color: black;">{{ audience }}</a>
        {{ results.1 }}<br>
        <div class="audienceList" style="display: none;">
          {% for site_user in site_users %}
            {{ site_user.username }}<br>
          {% endfor %}
        </div>
        {{ results.2 }}
        <a role="button" class="adminsNumber" style="color: black;">{{ adminsNumber }}</a>
        {{ results.3 }}
        <div class="adminsList" style="display: none;">
          {% for admin in admins %}
            {{ admin.username }}<br>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}