{% extends 'base.html' %}
{% block title %}Учет оплаты{% endblock %}
{% block content %}
{% load static %}
<div class="container">
  <div class="contentField">
  	<div class="programmName"><h2>Программа для учета платежей за услуги мобильной связи</h2></div>
  	<div class="programmInfo">Приложение разрабатывалось в рамках курсовой работы с применением технологии типизированного файла в среде разработки Delphi 7 (язык Object Pascal) в мае 2017 года.</div>
    <div class="myLink"><a href="{% static 'myprogramms/Phone Payments.zip' %}">Скачать программный продукт можно по этой ссылке</a></div>
    <hr>
    <p><b>Системные требования:</b></p>
  	<p><ul><li>ОС линейки Windows;</li><li>наличие предустановленного текстового редактора Microsoft Word.</li></ul></p><p>Работоспособность приложения проверялась на Windows 7.</p>
    <hr>
    <p><b>Порядок установки:</b></p>
  	<p>Распаковать архив с программой в отдельную папку. Папку с разархивированными файлами можно разместить в любой директории на ПК или съемном носителе информации. Нельзя удалять, перемещать или изменять файлы из папки.</p>
    <hr>
    <p><b>Основы работы с программой:</b></p>
  	<p>Доступ к функциям программы защищен паролем. Для пользователей без прав администратора доступно 3 попытки ввода пароля. После исчерпания числа попыток ввода пароля учетная запись пользователя блокируется и разблокировать ее может только пользователь с правами администратора. Ограничение числа попыток ввода пароля у пользователя с правами администратора не предусмотрено, но после каждой попытки авторизоваться, если был введен неправильный пароль, возможность ввода нового пароля блокируется на 30 секунд.</p>
  	<p>Функционал у пользователя с правами администратора более широкий, т.к. кроме функционала доступного для всех пользователей, также доступна возможность управления учетными записями пользователей. Недоступна для администратора только возможность изменить пароль собственной учетной записи.</p>
  	<p>Типизированный файл, содержащий сведения о совершенных транзакциях создается один раз при проведении самой первой транзакции в начале рабочего дня и содержит в названии текущую дату. При всех последующих обращениях в этот день данные дозаписываются в созданный файл. Доступна функция импорта сведений из типизированного файла в текстовый редактор Microsoft Word.</p>
    <hr>
    <p><b>Пароли учетных записей:</b></p>
  	<div class="accountLogin">Пароль администратора:</div>
    <div class="accountPassword">Самый правильный пароль</div>
    <div class="accountLogin">Пароль Петрова П.П.:</div>
    <div class="accountPassword">абв</div>
    <div class="accountLogin">Пароль Николаева Н.Н.:</div>
    <div class="accountPassword">qwerty</div>
  </div>
</div>
{% endblock %}
