{% extends 'base.html' %}
{% block title %}График отпусков{% endblock %}
{% block content %}
{% load static %}
<div class="container">
  <div class="contentField">
  	<div class="programmName"><h2>Приложение для формирования и ведения графика отпусков сотрудников "Колэнерго"</h2></div>
  	<div class="programmInfo">Приложение, предназначенное для автоматизации процесса формирования и ведения графика отпусков сотрудников ПАО "МРСК Северо-Запада" ("Колэнерго") создавалось в качестве дипломной работы в апреле-июне 2018 года. Разработка велась в среде Microsof Visual Studio 2010 Express (язык C#).</div>
  	<div class="myLink"><a href="{% static 'myprogramms/VacationSchedule.zip' %}">Скачать программный продукт и сопутствующую документацию можно по этой ссылке</a></div>
  	<hr>
  	<p><b>Системные требования:</b></p>
  	<p><ul><li>ОС линейки Windows;</li><li>предустановленный радактор электронных таблиц Microsoft Excel 2010;</li><li>наличие предустановленных пакетов .NET Framework 4 и .NET Framework 4.5.2 (для установки MySQL Workbench);</li><li>наличие предустановленной СУБД MySQL Server и инструмента для визуального проектирования баз данных MySQL Workbench;</li><li>база данных vacation_schedule, предустановленная на локальном сервере.</li></ul></p><p><p>Скачать <a href="https://www.microsoft.com/ru-ru/download/details.aspx?id=17718">.NET Framework 4</a> и <a href="https://www.microsoft.com/net/download/dotnet-framework-runtime/net452">.NET Framework 4.5.2</a> можно с официального сайта Microsoft. Скачать <a href="https://dev.mysql.com/downloads/mysql/5.7.html#downloads">MySQL Community Server</a>, включающий в себя MySQL Workbench, можно с официального сайта проекта. Работоспособность приложения проверялась на Windows 7.</p>
  	<hr>
    <p><b>Порядок установки:</b></p>
  	<p>Порядок установки описан в разделе 4.1 дипломного проекта.</p>
  	<hr>
    <p><b>Основы работы с программой:</b></p>
  	<p>Основы работы с программой описаны в разделе 4.2 дипломного проекта.</p>
  	<hr>
    <p><b>Логины и пароли учетных записей:</b></p>
  	<div class="accountLogin">Логин учетной записи администратора:</div>
    <div class="accountPassword">АДМИН</div>
    <div class="accountLogin">Пароль учетной записи администратора:</div>
    <div class="accountPassword">АДМИН1</div>
    <div class="accountLogin">Логин учетной записи руководителя подразделения:</div>
    <div class="accountPassword">абвг</div>
    <div class="accountLogin">Пароль учетной записи руководителя подразделения:</div>
    <div class="accountPassword">абвг</div>
    <div class="accountLogin">Логин учетной записи специалиста кадровой службы:</div>
    <div class="accountPassword">ЭЮЯ</div>
    <div class="accountLogin">Пароль учетной записи специалиста кадровой службы:</div>
    <div class="accountPassword">ЭЮЯ</div>
    <br>
    <div class="formField">
      {% if user.is_active %}
        <div class="note">Вы можете оставить свой комментарий, он отобразится на сайте после прохождения модерации.</div>
        <p>
          <form action="" method="post">    
            {% csrf_token %}
            {{ form.as_p }}
              <input type="submit" class="btn btn-default" value="Отправить">
          </form>
        </p>
      {% else %}
        <div class="loginNote">Чтобы оставить комментарии авторизуйтесь на сайте.</div>
      {% endif %}
    </div><hr>
  </div>
</div>
{% endblock %}