{% extends 'base.html' %}
{% block title %}Вторая мировая{% endblock %}
{% block content %}
{% load static %}
<div class="container">
  <div class="contentField">
  	<div class="programmName"><h2>Викторина "Своя игра" на тему "История второй мировой войны"</h2></div>
  	<div class="programmInfo">Викторина разрабабатывалась в рамках учебного проекта по освоению все еще специальности "оператор ПК";). Не того ПК, который можно найти на картинках по запросу "уверенный пользователь пк" в google). Разработка викторины велась в среде Microsoft Visual Studio 2010 Express на языке C# в марте 2018 года.</div>
    <div class="myLink"><a href="{% static 'myprogramms/WWII.exe' %}">Скачать программный продукт можно по этой ссылке</a></div>
    <hr>
    <p><b>Системные требования:</b></p>
  	<p><ul><li>ОС линейки Windows;</li><li>наличие предустановленного пакета Mickrosoft .NET Framework 4.</li></ul></p><p>Скачать .NET Framework 4 можно с <a href="https://www.microsoft.com/ru-ru/download/details.aspx?id=17718">официального сайта Microsoft</a>. Работоспособность приложения проверялась на Windows 7 и Windows 8.1.</p>
    <hr>
    <p><b>Порядок установки:</b></p>
  	<p>Сохрание exe-файл в любой директории вашего копьютера или на съемном носителе информации.</p>
    <hr>
    <p><b>Особенности работы с программой:</b></p>
  	<p>В отличее от известной телепрограммы, послужившей прообразом для данной программы, комьютерная программа поддерживает от 1 до 8 участников. В качестве участников могут выступать отдельные игроки либо команды. Такой подход позволяет применять данный программный продукт в учебном процессе с разным числом обучающихся в группе. Также в отличае от телевикторины участникам предлагаются варианты ответов.</p>
  	<p>На изначальной форме программы необходимо указать число участников и ввести их имена (или названия команд). Можно изменить свой выбор до того момента пока не нажата кнопка "Начать игру". После этого будет отражена форма со списком вопросов, разделенных между четыремя категориями. В любой момент времени, находясь на форме с фопросами можно проверить статистику игры.</p>
  	<p>Перед выбором каждого вопроса выпадающем списке необходимо указать участника, который будет отвечать на поставленный вопрос. Порядок, в котором участники отвечают на вопросы викторины, и условие чередования участников определяет ведущий.</p> 
	  <p>После выбора вопроса, появится форма, содержащая вопрос и четыре варианта ответа на него. При нажатии на каждую кнопку, содержащюю вариант ответа появится диалоговое окно, в котором нужно указать является ли ответ окончательным. После принятия ответа, сразу будет показан правильный ответ и в случае верного ответа участнику будут начислены баллы. Когда все вопросы будут разыграны, появится форма с итоговой статистикой и кнопкой "Закрыть приложение".</p>
    {% block comments %}{% include 'comments.html' %}{% endblock comments %}
  </div>
</div>
{% endblock %}