{% extends 'base.html' %}
{% block title %}"Your own game"{% endblock %}
{% block content %}
{% load static %}
<div class="container">
  <div class="contentField">
  	<div class="programmName"><h2>Викторина "Своя игра" на английском языке</h2></div>
  	<div class="programmInfo">Викторина разрабабатывалась в качестве самостоятельного задания в рамках учебного процесса по предметам английский язык и программирование. Создание программного продука велось в среде разработки Delphi 7 (язык ObjectPascal) в декабре 2016 года.</div>
    <div class="myLink"><a href="{% static 'myprogramms/Project1.exe' %}">Скачать программный продукт можно по этой ссылке</a></div>
    {% block programm_relations %}{% include 'programm_relations.html' %}{% endblock programm_relations %}
    <hr>
    <p><b>Системные требования:</b></button></p>
    <p><ul><li>ОС линейки Windows.</li></ul></p><p>Работоспособность приложения проверялась на Windows 7, Windows 8.1.</p>
    <hr>
    <p><b>Порядок установки:</b></p>
  	<p>Сохрание exe-файл в любой директории вашего копьютера или на съемном носителе информации.</p>
    <hr>
    <p><b>Особенности работы с программой:</b></p>
  	<p>В отличее от известной телепрограммы, послужившей прообразом для данной программы, комьютерная программа поддерживает от 1 до 8 участников. В качестве участников могут выступать отдельные игроки либо команды. Такой подход позволяет применять данный программный продукт в учебном процессе с разным числом обучающихся в группе.</p>
  	<p>На форме приветсвия программы нужно выбрать число участников викторины и указать имена участников или названия команд. Пока вы не ушли с этой формы вы можете изменить число участников, нажав кнопку "TO CHANGE", указав новое число участников, и подтвердив выпор нажатим кнопки "OK".</p>
  	<p>На этом же шаге нужно указать хотите ли вы записывать статистику игры (по умолчанию этот параметр всегда включен). Если вы не намерены записывать ход игры в txt-файл, вам нужно установить значение данного параметра в выпадающем списке в позицию "NO". Если вы забыли это сделать на форме приветствия, то вам следует ввести любое значение в окно выбора расположения файла и продолжить игру. По окончании игры можно спокойно удалить текстовый файл. Также можно нажать кнопку "Отмена" или нажать на кнопку закрытия окна в правом верхнем углу и на появившейся форме с фопросами закрыть приложение (если не завершить работу приложения в этом случае, после вопроса будет выводиться сообщение об ошибке). А потом начать игру заново, уделив нимание этому параметру.</p>
  	<p>Если же вы специально хотите записывать ход игры в текстовый файл (это может помочь при возникновении спорной ситуации), вам не нужно менять изначальное значение параметра на форме приветствия программы, а после нажатия кнопки "CONTINUE" выбрать место, куда будет сохранен файл отображающий ход игры.</p>
  	<p>Как и оригинальная телевикторина, данное приложение подразумевает необходимость в ведущем, который будет руководить игровым процессом в том числе определять порядок в котором участники будут отвечать на вопросы, и решать дал ли участник верный ответ на поставленный вопрос.</p>
  	<p>На форме с со списком вопросов можно выбрать конкретный вопрос, завершить работу программы или обратиться к статистике игры.</p>
  	<p>После выбора вопроса появится форма содержащая формулировку вопроса, соответствующего выбранной категории и две кнопки с подсказками, которые снижают баллы за вопрос. Если вы пожелали сохранять процесс игры в текстовый файл, то также появится текстовое поле, куда нужно ввести данный участником ответ.</p>
  	<p>После получения однозначного ответа от учасника (и записи его в соответствующее поле при выборе пунта сохранения процесса игры в текстовый файл) необходимо нажать на кнопку "Show the correct answer" и сравнить ответ учасника с верным ответом на вопрос.</p>
  	<p>После просмотра правильного ответа нужно нажать кнопку "Return to the question's list". В этот момент область формы содержащая список вопросов будет закрыта формой на которой нужно указать кто из участников викторины отвечат на последний вопрос и был ли его ответ правильным. После указания данных вседений можно преходить к следующему вопросу.</p>
  	<p>Как уже указывалось выше порядок игры определяет ведущий. Викторина содержит 25 вопросов. Ведущий сам решает как распределить это число вопросов между участниками и выбрать порядок ответов участников на вопросы: вопросы могут быть распределены межу участниками поровну и отвечать они будут поочереди либо как в оригинальной телевикторине участники будут меняться при неверном ответе на вопрос.</p>
    {% block comments %}{% include 'comments.html' %}{% endblock comments %}
  </div>
</div>
{% endblock %}
